* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    background-color: #EBEDF0;
    font-family: 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
}

/*-----------------LOGIN-----------------*/
.center-text {
    margin-top: 15%;
    text-align: center;
}

.logo {
    width: 12%;
    float: left;
}

.login-form {
    border: 1px solid grey;
    border-style: none;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    padding: 30px 30px;
}

.box {
    width: 40%;
    height: auto;
    background: #FFF;
    margin: 40px auto;
}


.form-box {
    -webkit-box-shadow: 10px 1px 28px -10px #777;
    -moz-box-shadow: 10px 1px 28px -10px #777;
    box-shadow: 10px 1px 28px -10px #777;
}


.login-btn {
    color: #ffffff;
    background: #71cb82;
    border-color: #71cb82;
    transition: background 0.5s;
}

.login-btn:hover {
    color: #ffffff;
    background: #359046;
    border-color: #3ea952;
}

.form-field {
    border: 1px solid #e2e8f5;
}


/*-----------------LOGO-----------------*/
.logo {
    float: left;
    height: 50px;
    width: 70px;
    font-size: 90%;
    margin-top: 18px;
    color: #d6b161;
    margin-left: 20px;
    letter-spacing: 1.1px;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}

/*-----------------HEADER-----------------*/
.header-style {
    width: 100%;
    height: auto;
    overflow: hidden;
    clear: both;
    position: relative;
    display: inline-block;
    background: #fff;
    box-shadow: 10px 1px 15px -10px #777;
    z-index: 2;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 18px;
}

.main-nav li {
    display: inline-block;
    padding: 10px 10px;
    margin-right: 20px; 
    border-radius: 50%;
    background: #daf3f2;
    width:40px;
    height:40px;
    cursor: pointer;
}

.main-nav li:hover {
    background: transparent;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 4px 3px;
    text-decoration: none;
    color:black;
}

.main-nav li a i {
    font-size: 18px;
}

/*------------------CONTENT------------------*/

.main-content {
    margin-left: 15.5%;
    border: 1px solid #daf3f2;
    border-width: 1px 1px 1px 1px;
    background: #fff;
    margin-right: 1%;
    height: auto;
    position:relative;
}

/*------------------SIDEBAR------------------*/
.sidebar-style{
  height: 78%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top:6%;
  border-right:1px solid #daf3f2;
}
/*------------------FOOTER------------------*/
.main-footer {
    padding-left: 34%;
    padding-right: 30%;
    border-top:1px solid #daf3f2;
    color:#000;
    padding-top:20px;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.main-footer p{
    font-size:12px;
}


