<section class="content" ng-controller="dashboard">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">User : {{user.name}}</div>
            <div class="col-md-4">Email : {{user.email}}</div>
            <div class="col-md-4">Repository : Vcsopen</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Modules</label>
            <div class="col-md-6" ng-repeat="m in modulesList">
	         <ul><li>{{m.name}}</li></ul>
        	</div>
        </div>
    </div>
</section>